@()(implicit request: RequestHeader, flash: Flash)

@main("Details") {
@defining(play.core.PlayVersion.current) { version =>
    <section id="content">
        <body class="landing-page">
        <div id="right-signup">
            <h1 style="color: #2d2d2d; font-family:Arial; text-align: center">Sign-up</h1>
            <form style="text-align: center" action="/signup" method="POST">
                @helper.CSRF.formField
                <!--<label for="name">First Name & Last Name</label>-->
                <input type="text" id="name" name="name" placeholder="First Name & Last Name...">
                <!--<label for="email">Email ID</label>-->
                <input type="email" id="email" name="email" placeholder="Email ID...">
                <!--<label for="city">City Name</label>-->
                <input type="text" id="city" name="city" placeholder="City..">
                <!--<label for="uname">User Name</label>-->
                <input type="text" id="uname" name="uname" placeholder="Your username.."/>
                <!--<label for="password">Password</label>-->
                <input type="password" id="password" name="password" placeholder="Your password.."/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        </body>
    </section>
    }
}