 @()(implicit request: RequestHeader, flash: Flash)

 @main("Login") {
 @defining(play.core.PlayVersion.current) { version =>

 <section id="content">
     <body class="landing-page">
     <div id="right">
         <h1 style="color: #2d2d2d; font-family:Arial; text-align: center">Login</h1>
         <form style="text-align: center" action="/signin" method="POST">
             @helper.CSRF.formField
             <p style="color: #2d2d2d; font-family:Arial; text-align: center">@flash.get("error")</p>
             <!--<label for="uname" style="color: #2d2d2d; font-family:Arial">User Name</label>-->
             <input type="text" id="uname" name="uname" placeholder="Your username.."/>
             <!--<label for="password" style="color: #2d2d2d; font-family:Arial">Password</label>-->
             <input type="password" id="password" name="password" placeholder="Your password.."/>
             <input type="submit" value="Submit"/>
         </form>
     </div>
     </body>
 </section>
 }
 }