 @(loginForm: Form[LoginForm])(implicit request: MessagesRequestHeader, flash: Flash)

 @main("Login") {
 @defining(play.core.PlayVersion.current) { version =>

<!-- <section id="content">
     <body class="landing-page">
     <div id="right">
         <h1 style="color: #2d2d2d; font-family:Arial; text-align: center">Login</h1>
         <form style="text-align: center" action="/signin" method="POST">
             @helper.CSRF.formField
             <p style="color: #2d2d2d; font-family:Arial; text-align: center">@flash.get("error")</p>
             &lt;!&ndash;<label for="uname" style="color: #2d2d2d; font-family:Arial">User Name</label>&ndash;&gt;
             <input type="text" id="uname" name="uname" placeholder="Your username.."/>
             &lt;!&ndash;<label for="password" style="color: #2d2d2d; font-family:Arial">Password</label>&ndash;&gt;
             <input type="password" id="password" name="password" placeholder="Your password.."/>
             <input type="submit" value="Submit"/>
         </form>
     </div>
     </body>
 </section>-->

    <body class="landing-page">
        <div id="right">
            @helper.form(action=routes.HomeController.validateLogin()){
                @helper.CSRF.formField
                <p style="color: #2d2d2d; font-family:Arial; text-align: center; font-size: 12px">@flash.get("error")</p>
                @helper.inputText(loginForm("Username"), '_label -> null, 'placeholder -> "Your username..", '_showConstraints -> false)
                @helper.inputPassword(loginForm("Password"), '_label -> null, 'placeholder -> "Your password..", '_showConstraints -> false)
                <input type="submit" value="Login"/>
            }
        </div>
    </body>
 }
 }