@()(implicit flash: Flash)

@main("Welcome") {
    <body class="landing-page" style="margin: 0; padding: 0;">
        <div id="left" style="text-align: center">
            <h1 style="color: #2d2d2d; font-family:Arial">TRADE WHAT YOU SEE,</h1>
            <h1 style="color: #2d2d2d; font-family:Arial">NOT WHAT YOU THINK!</h1>
        </div>
        <div id="right">
            <h1 style="color: #2d2d2d; font-family:Arial">Welcome to Scion</h1>
            <form action="/login" style="text-align:center">
                <input type="submit" value="Login" width="40em">
            </form>
            <form action="/description">
                <input type="submit" value="Sign-Up" width="100%">
            </form>
        </div>
    </body>
}